{{!-- <div class="logout">
  <img src="../../../../images/off-btn.png" alt="logout">
</div> --}}

<section class="my-activities activities">
<form action="/auth/logout" method="POST" class="signout-form">
  <button type="submit" class="signout-btn"><img src="../images/off-btn.svg" alt="image" class="logout-img"></button>
</form>
  <div>
  <h1 class="my-profile-title">My Profile</h1>
</div>


  <div class="profile-container">
    <div class="profile-list">
      <h2 class="list-title">
        My activities
      </h2>
      <div class="triangle-icon up triangle-act">Show</div>
    </div>
    <div class="activities-list hidden">
      {{#each user.activities}}
      <div class="each-activity activities">
        <p class="activity-text activity-title">{{this.name}}</h2>
          <p class="activity-text activity-location">{{this.city}}</p>
          <a href="/activities/{{this._id}}/details"><img src="{{this.photoURL}}" alt="image" class="activity-img"></a>
          <button class="btn-activity add-favourite"><a href="/activities/{{this._id}}/edit">Edit</a></button>
          <form action="/activities/{{this._id}}/delete" method="post">
            <div>
              <button class="btn-activity" type="submit">Delete</button>
            </div>
          </form>
          
          <hr>
          
      </div>
      {{/each}}
    </div>


    <div class="profile-list">
      <h2 class="list-title">
        My trips
      </h2>
      <div class="triangle-icon up triangle-trip">Show</div>
    </div>
    <div class="trips-list hidden">
      {{#each user.trips}}
      <div class="each-trip activities">
        <p class="activity-text activity-title">{{this.name}}</p>
        <p class="activity-text activity-location">{{this.location}}</p>
        <p class="activity-text">Budget: {{this.currentBudget}}/{{this.budget}}€</p>
        <a href="/trips/{{this._id}}/details"><img src="{{this.photoURL}}" alt="image" class="activity-img"></a>
        <button class="btn-trip"><a href="/trips/{{this._id}}/addActivity">Add activities</a></button>
        <button class="btn-trip"><a href="/trips/{{this._id}}/edit">Edit</a></button>
        <form action="/trips/{{this._id}}/delete" method="post">
          <div>
            <button class="btn-trip" type="submit">Delete</button>
          </div>
        </form>
        
        <hr>
        
      </div>
      {{/each}}
    </div>

    {{!-- <div class="profile-list">
      <h1 class="list-title">
        My favourites
      </h1>
      <div class="triangle-icon up triangle-fav">Show</div>
    </div>
    <div class="favs-list hidden">
      {{#each user.favourites}}
      <div class="each-trip activities">
        <p class="activity-text activity-title">{{this.name}}</p>
        <p class="activity-text activity-location">{{this.location}}</p>
        <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
        <p class="activity-text activity-price">{{this.price}}€</p>
        
        <hr>
        
      </div>
      {{/each}}
    </div> --}}

  </div>
  <div>
  {{!-- <form action="/auth/logout" method="POST">
    <button type="submit" class="logout-btn">Logout</button>
  </form> --}}
</div>




</section>
<script src="/javascript/main.js"></script>