<section class="my-activities activities">
  <div class="profile-container">
    <h1 class="profile-title">Welcome to {{user.username}}'s profile</h1>
    <div class="profile-list">
      <h2 class="list-title">
        Activities
      </h2>
      <div class="triangle-icon up triangle-act">Show</div>
    </div>
    <div class="activities-list hidden">
      {{#each user.activities}}
      <div class="each-activity activities">
        {{!-- <form action="/favourites/{{../user._id}}/addFavourite/{{this._id}}" method="post">
          <div>
            <button type="submit" class="favourite-btn"><img src="../images/star.svg" alt="" class="activity-bookmark details"></button>
          </div>
        </form> --}}
          <a href="/activities/{{this._id}}/details"><h2 class="activity-text activity-title">{{this.name}}</h2></a>
          <p class="activity-text activity-location">{{this.city}}</p>
          <a href="/activities/{{this._id}}/details"><img src="{{this.photoURL}}" alt="image" class="activity-img"></a>
          
          <hr>
          
      </div>

      <!--<form action="/trips/{{../tripId}}/addActivity/{{this._id}}" method="post">
        <div>
          <button type="submit">Add to trip</button>
        </div>
      </form>-->

      {{/each}}
    </div>


    <div class="profile-list">
      <h2 class="list-title">
        Trips
      </h2>
      <div class="triangle-icon up triangle-trip">Show</div>
    </div>
    <div class="trips-list hidden">
      {{#each user.trips}}
      <div class="each-trip activities">
        <p class="activity-text activity-title">{{this.name}}</p>
        <p class="activity-text activity-location">{{this.location}}</p>
        <img src="{{this.photoURL}}" alt="image" class="activity-img">
        
        <hr>
        
      </div>
      {{/each}}
    </div>

    <div class="profile-list">
      <h2 class="list-title">
        Favourites
      </h2>
      <div class="triangle-icon up triangle-fav">Show</div>
    </div>
    <div class="favs-list hidden">
      {{#each user.favourites}}
      <div class="each-trip activities">
        <a href="/activities/{{this._id}}/details"><h2 class="activity-text activity-title">{{this.name}}</h2></a>
        <p class="activity-text activity-location">{{this.city}}</p>
        <a href="/activities/{{this._id}}/details"><img src="{{this.photoURL}}" alt="image" class="activity-img"></a>
        <p class="activity-text activity-price">{{this.price}}€</p>
        
        <hr>
        
      </div>
      {{/each}}
    </div>
  </div>
</section>
<script src="/javascript/main.js"></script>