<section class="my-activities activities">
  <div class="profile-container">
    <p style="font-size: 25px;">Welcome to {{user.username}}'s profile</p>
    <div class="profile-list">
      <h1 class="list-title">
        Activities
      </h1>
      <div class="triangle-icon up triangle-act">Show</div>
    </div>
    <div class="activities-list hidden">
      {{#each user.activities}}
      <div class="each-activity activities">
        {{!-- <form action="/favourites/{{../user._id}}/addFavourite/{{this._id}}" method="post">
          <div>
            <button type="submit" class="favourite-btn"><img src="../images/star.svg" alt="" class="activity-bookmark details"></button>
          </div>
        </form> --}}
        <p class="activity-text activity-title">{{this.name}}</h2>
          <p class="activity-text activity-location">{{this.location}}</p>
          <a href="/activities/{{this._id}}/details"><img src="../../images/ironhack.png" alt="" class="activity-img"></a>
          <br>
          <hr>
          <br>
      </div>

      <!--<form action="/trips/{{../tripId}}/addActivity/{{this._id}}" method="post">
        <div>
          <button type="submit">Add to trip</button>
        </div>
      </form>-->

      {{/each}}
    </div>


    <div class="profile-list">
      <h1 class="list-title">
        Trips
      </h1>
      <div class="triangle-icon up triangle-trip">Show</div>
    </div>
    <div class="trips-list hidden">
      {{#each user.trips}}
      <div class="each-trip activities">
        <p class="activity-text activity-title">{{this.name}}</p>
        <p class="activity-text activity-location">{{this.location}}</p>
        <p class="activity-text">Budget: {{this.currentBudget}}/{{this.budget}}€</p>
        <a href="/trips/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
        <br>
        <hr>
        <br>
      </div>
      {{/each}}
    </div>

    <div class="profile-list">
      <h1 class="list-title">
        Favourites
      </h1>
      <div class="triangle-icon up triangle-fav">Show</div>
    </div>
    <div class="favs-list hidden">
      {{#each user.favourites}}
      <div class="each-trip activities">
        <p class="activity-text activity-title">{{this.name}}</p>
        <p class="activity-text activity-location">{{this.location}}</p>
        <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
        <p class="activity-text activity-price">{{this.price}}€</p>
        <br>
        <hr>
        <br>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<script src="/javascript/main.js"></script>