<section class="list-activities activities">
  <h1 class="list-activities-title">
    Explore Activities
  </h1>
  <p>{{currentUser.trips}}</p>
  {{#each activities}}
  <h2 class="activity-text activity-title">{{this.name}}</h2>
  <p class="activity-text activity-location">{{this.location}}</p>
  <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
  <div class="activity-info-container">
    <div class="activity-text-container">
      <p class="activity-text">{{this.type}}</p>
      <p class="activity-text">{{this.price}}€</p>
    </div>
    <form action="/favourites/addDeleteFavourite/{{this._id}}" method="post">
      <div>
        <button type="submit" class="favourite-btn add-favourite" id={{this.id}}><img src="../../images/star.svg" alt=""
            class="activity-bookmark details"></button>
      </div>
    </form>
  </div>
  <select name="type" class="add-to-trip" placeholder="Add to existing trip">
    <option disabled selected>Add to trip</option>
    {{#each ../currentUser.trips}}
    <form action="/trips/{{this}}/addActivity/{{../currentUser._id}}" method="post">
      <div>
        <option value="{{this}}"><button type="submit">{{this}}</button></option>
      </div>
    </form>
    
    {{/each}}
  </select>

  <br>
  <hr>
  <br>
  {{/each}}
  {{!--
  <script>
    button = docuemnt.querySelectorAll(.favorites)

    button.addEvenetListener('click', (event) => {
      event.target.id
      axios.post('/favourites/add...')
        .then(() => {
          button.classList.toggle('')
        })
    })

  </script> --}}

</section>