<section class="list-activities activities">
  <h1 class="list-activities-title">
    Explore Activities
  </h1>
  {{#each activities}}
  <h2 class="activity-text activity-title">{{this.name}}</h2>
  <p class="activity-text activity-location">{{this.city}}</p>
  <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
  <div class="activity-info-container">
    <div class="activity-text-container">
      <p class="activity-text">{{this.type}}</p>
      <p class="activity-text">{{this.price}}€</p>
    </div>

    {{#if this.addedFavourite}}
    <div class="star-container">
      <a type="submit" class="favourite-btn add-favourite yellow-star" activity={{this.id}}></a>
    </div>
    {{else}}
    <div class="star-container">
      <a type="submit" class="favourite-btn add-favourite" activity={{this.id}}></a>
    </div>
    {{/if}}
  </div>
  {{!-- <select name="" id="">
    {{#each ../user.trips}}
    <option value="">
      <button type="submit" action="/trips/{{this._id}}/addActivity/{{../this._id}}" method="post">{{this.name}}</button>
    </option>
      {{/each}}
  </select> --}}
  <br>
  <hr>
  <br>
  {{/each}}

</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/favourites.js"></script>
<script src="/javascript/addToTrip.js"></script>