<section class="list-activities activities">
  <h1 class="list-activities-title">
    Explore Activities
  </h1>

  <form action="/activities" method="GET">
    <input type="hidden" name="latitude" class="latitude">
    <input type="hidden" name="longitude" class="longitude">
    <button type="submit"> Find near </button>
  </form>

  <p id="demo"></p>

  <script src="/javascript/geolocation.js"></script>

  {{#each activities}}
  <h2 class="activity-text activity-title">{{this.name}}</h2>
  <p class="activity-text activity-location">{{this.city}}</p>
  <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
  <div class="activity-info-container">
    <div class="activity-text-container">
      <p class="activity-text">{{this.type}}</p>
      <p class="activity-text">{{this.price}}€</p>
    </div>
    <form action="/favourites/addDeleteFavourite/{{this._id}}" method="post">
      <div>
        <button type="submit" class="favourite-btn add-favourite" id={{this.id}}><img src="../../images/star.svg" alt="" class="activity-bookmark details"></button>
      </div>
    </form>
  </div>
  <br>
  <hr>
  <br>
  {{/each}}
  {{!-- <script>
    button = docuemnt.querySelectorAll(.favorites)

    button.addEvenetListener('click', (event)=> {
      event.target.id
      axios.post('/favourites/add...')
      .then(()=> {
        button.classList.toggle('')
      })
    })

  </script> --}}

</section>