<section class="list-activities activities">
  <h1 class="list-activities-title">
    Near activities around {{userLocationName}}
  </h1>

  {{#each activitiesCopy}}
  <a href="/activities/{{this._id}}/details"><h2 class="activity-text activity-title">{{this.name}}</h2></a>
  <p class="activity-text activity-location">{{this.city}}</p>
  <a href="/activities/{{this._id}}/details"><img src="{{this.photoURL}}" alt="image" class="activity-img"></a>
  <div class="activity-info-container">
    <div class="activity-text-container">
      <p class="activity-text">{{this.type}}</p>
      <p class="activity-text">{{this.price}}€</p>
    </div>
    {{#if this.addedFavourite}}
    <div class="star-container">
      <a type="submit" class="favourite-btn add-favourite yellow-star" activity={{this.id}}></a>
    </div>
    {{else}}
    <div class="star-container">
      <a type="submit" class="favourite-btn add-favourite" activity={{this.id}}></a>
    </div>
    {{/if}}
  </div>
  </div>
  </div>
  
  <hr>
  
  {{/each}}
</section>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascript/favourites.js"></script>
  <script src="/javascript/addToTrip.js"></script>