<section class="activity-details-container">
  <div class="activity-details">
    <img src="../../images/ironhack.png" alt="" class="activity-img">
    <div class="activity-bar">
      <div class="activity-titles-container">
        <h2 class="activity-text activity-title">{{activity.name}}</h2>
        <p class="activity-text activity-location">{{activity.location}}</p>
      </div>
      <img src="../../images/bookmark.svg" alt="" class="activity-bookmark details">
    </div>
    <p class="activity-text">{{activity.type}}</p>
    <p class="activity-text">{{activity.price}}€</p>
    <p class="activity-description">{{activity.description}}</p>
    <form action="/trips/{{tripId}}/addActivity/{{this._id}}" method="post">
      <div class="detail-button-add">
        <button type="submit">Add to trip</button>
      </div>
    </form>
  </div>
</section>