<section class="create-edit-activity">
  <form method="POST" action="/activities/{{activity._id}}/edit" class="activity-form">
    <div class="activity-container">
        <h1>Edit activity</h1>
      <div class="field">
        <input type="text" class="activity-input" name="name" value="{{activity.name}}" />
      </div>

      <div class="field">
        <input type="text" class="activity-input" name="city" value="{{activity.city}}" />
      </div>

      <div class="field">
        <input type="text" class="activity-input" name="country" value="{{activity.country}}" />
      </div>

      <div class="field">
        <input type="text" class="activity-input" name="location" value="{{activity.location}}" />
      </div>

      <div class="field">
        <select type="text" name="type" class="activity-input" value="{{activity.type}}">
          <option disabled selected>Type of activity</option>
          <option>Social</option>
          <option>Nature</option>
          <option>Museums</option>
          <option>Guides</option>
          <option>Restaurants</option>
          <option>Sport</option>
          <option>Shopping</option>
        </select>
      </div>

      <div class="field">
        <input type="number" class="activity-input" name="price" value="{{activity.price}}" />
      </div>

      <div class="field">
        <input type="text" class="activity-input" name="reservation" value="{{activity.reservation}}" />
      </div>

      <div class="field">
        <input type="text" class="activity-input" name="description" value="{{activity.description}}" />
      </div>

      <div class="field submit">
        <button type="submit">Edit</button>
      </div>
    </div>
  </form>
</section>