<section class="my-activities activities">
  <div class="profile-container">
    <div class="profile-list">
      <h1 class="list-title">
        My activities
      </h1>
      <div class="triangle-icon up triangle-act">Hide</div>
    </div>
    <div class="activities-list">
      {{#each user.activities}}
      <div class="each-activity activities">
        <p class="activity-text activity-title">{{this.name}}</h2>
          <p class="activity-text activity-location">{{this.location}}</p>
          <a href="/activities/{{this._id}}/details"><img src="../images/ironhack.png" alt="" class="activity-img"></a>
          <button class="btn-activity"><a href="/activities/{{this._id}}/edit">Edit</a></button>
          <form action="/activities/{{this._id}}/delete" method="post">
            <div>
              <button class="btn-activity" type="submit">Delete</button>
            </div>
          </form>
          <br>
          <hr>
          <br>
      </div>
  
    {{/each}}
      </div>


    <div class="profile-list">
      <h1 class="list-title">
        My trips
      </h1>
      <div class="triangle-icon up triangle-trip">Hide</div>
    </div>
  <div class="trips-list">
    {{#each user.trips}}
    <div class="each-trip activities">
      <p class="activity-text activity-title">{{this.name}}</p>
      <p class="activity-text activity-location">{{this.location}}</p>
      <p class="activity-text">{{this.budget}}€</p>
      <img src="../images/ironhack.png" alt="" class="activity-img">
      <button class="btn-trip"><a href="/trips/{{this._id}}/addActivity">Add activities</a></button>
      <button class="btn-trip"><a href="/trips/{{this._id}}/edit">Edit</a></button>
      <form action="/trips/{{this._id}}/delete" method="post">
        <div>
          <button class="btn-trip" type="submit">Delete</button>
        </div>
      </form>
      <br>
      <hr>
      <br>
    </div>
    {{/each}}
    </div>
  </div>
</section>
<script src="/javascript/main.js"></script>