<section class="create-edit-activity">
  <form method="POST" action="/trips/{{trip._id}}/edit">
    <div class="trip-container">
     <h1 class="header-create">Edit Trip</h1>
      <div class="field">
        <input type="text" name="name" value="{{trip.name}}" />
      </div>

      <div class="field">
        <input type="text" name="location" value="{{trip.location}}" />
      </div>

      <div class="field">
        <input type="number" name="budget" value="{{trip.budget}}" />
      </div>

      <div class="field submit create">
        <button type="submit">Edit</button>
      </div>
    </div>
  </form>
  {{#if messages.length}}
    <h3>{{messages}}</h3>
  {{/if}}
</section>